.curso {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  background: #e5e5e5;
  width: 95%;
  border-radius: 10px;
  min-height: 70vh;
  
}

.curso img {
  margin: 1rem 0;
  background: tomato;
  width: 250px;
  height: 130px;
  border-radius: 10px;
}

.curso ol {
  width: 87% !important;
  padding: 0 .5rem !important;
}

.curso ol li {
  font-size: 1.2rem;
  margin: .7rem 0;
  font-weight: bold;
}

@media (min-width: 940px) {
  .curso {
    width: 70%;
    margin-left: 21%;
    min-height: 80vh;
    align-items: flex-start;
  }

  .curso img {
    width: 450px;
    height: 190px;
    margin: 1rem auto;
  }

  .curso ol {
    margin: 1rem 0 0 4rem;
  }

  .curso ol li {
    font-size: 1.5rem;
  }

}
