body {
  background: linear-gradient(
    249.52deg,
    #3ac1f0 0%,
    #4e54c8 100%
  );
  min-height: 100vh;
}

.titulo {
  color: #f5f5f5;
  font-family: 'Kodchasan', sans-serif;
  font-size: 1rem;
  text-align: left;
  margin-left: 7.5%;
  text-transform: uppercase;
  letter-spacing: .1rem;
  width: 180px;
}

.curso {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  align-items: center;
  background: #f5f5f5;
  width: 85%;
  border-radius: 10px;
  min-height: 70vh;
}

.curso img {
  margin: 1rem 0;
  background: tomato;
  width: 250px;
  height: 130px;
  border-radius: 10px;
}

.curso ol li {
  font-size: 1.2rem;
  margin: .7rem 0;
  font-weight: bold;
}

.curso ol:nth-child(1){
  background: tomato;
}

@media (min-width: 940px) {
  .titulo {
    display: block;
    text-align: center;
    font-size:1.5rem;
    width: initial;
    margin: 3rem 0 0 12%;
  }

  .curso {
    width: 70%;
    margin-left: 21%;
    min-height: 80vh;
    align-items: flex-start;
  }

  .curso img {
    width: 450px;
    height: 190px;
    margin: 1rem auto;
  }

  .curso ol {
    margin: 1rem 0 0 4rem;
  }

  .curso ol li {
    font-size: 1.5rem;
  }

}
