.cursosSection {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.cursosSection h1,
h3 {
  text-align: center;
  font-family: "nunito", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cursosSection h3 {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #3a3a3a;
}

.cursosSection p {
  width: 95%;
  margin: 0 auto;
  font-size: 15px;
  font-family: "nunito", sans-serif;
  color: #3a3a3a;
}

.cursos {
  display: flex;
  background: #f5f5f5;
  border-radius: 10px;
  margin: 1rem auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  letter-spacing: .05rem;
  font-weight: bold;
  position: relative;
}

@media (min-width: 940px) {
  .cursosSection {
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    justify-content: center;
    align-items: baseline;
    min-height: 85.9vh;
    height: 80vh;
    width: 95%;
    max-width: 1380px;
    margin: 0 !important;
  }

  .cursos {
    width: 300px;
    transition: .3s;
  }

  .cursos:hover {
    opacity: .85;
  }

}
